{% extends "base.jinja2" %}


{% block head %}

    <title>Holiday Rentals, Homes, and more</title>

{% endblock %}


{% block body %}

    <h1>All my posts here</h1>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Post</th>
                <th scope="col">City</th>
                <th scope="col">Suburb</th>
                <th scope="col">Number of people</th>
                <th scope="col">From date</th>
                <th scope="col">End date</th>
                <th scope="col">Price range</th>
                <th scope="col">Post date</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}

                <tr>
                    <td>
                        <h4>{{ post.comment }}</h4>
                    </td>
                    <td>
                        {{ post.city }}
                    </td>
                    <td>
                        {{ post.suburb }}
                    </td>
                    <td>
                        {{ post.people_number }}
                    </td>
                    <td>
                        {{ post.start_date }}
                    </td>
                    <td>
                        {{ post.end_date }}
                    </td>
                    <td>
                        <em>{{ post.price_start }}</em>
                        ~
                        <em>{{ post.price_end }}</em>
                    </td>
                    <td>
                        <span prettydate>{{ post.post_date }}</span>
                    </td>
                    <td>
                        <button class="btn btn-block btn-danger" id="{{ post.post_id }}" onclick="deletepost(this)">Delete</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        <div class="row">
            <div class="col-12">
                <a href="{{ url_for('add_post') }}"><button class="btn btn-secondary btn-block ">add a post</button></a>
            </div>
        </div>
    </div>







{% endblock %}