{% extends "base.jinja2" %}


{% block head %}

    <title>Holiday Rentals, Homes, and more</title>

{% endblock %}


{% block body %}

    <div class="container">
        <br>
        <div id="rooms" class="row text-center">
            {% for item in items %}
                <div class="col-4">
                    <figure>
                        <a href="{{ url_for("room", id=item.id) }}"><img src="{{ item.image }}" alt=""></a>
                        <a href="{{ url_for("room", id=item.id) }}"><figcaption>{{ item.name }} ${{ item.price }}</figcaption></a>
{#                        {% if item.rating_number == 0 %}#}
{#                            <span>Newly launched listing</span>#}
{#                        {% else %}#}
{#                            <span>{{ item.rating_number }} people rated, with mean rating {{ item.rating }}</span>#}
{#                        {% endif %}#}
                    </figure>
                </div>
            {% endfor %}
        </div>
        <span id="loading"></span>


    </div>



{% endblock %}